<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.amcharts.com/lib/4/core.js"></script>
    <script src="https://cdn.amcharts.com/lib/4/charts.js"></script>
    <script src="https://cdn.amcharts.com/lib/4/themes/material.js"></script>
    <script src="https://cdn.amcharts.com/lib/4/lang/de_DE.js"></script>
    <script src="https://cdn.amcharts.com/lib/4/geodata/germanyLow.js"></script>
    <script src="https://cdn.amcharts.com/lib/4/fonts/notosans-sc.js"></script>
    <script src="https://cdn.amcharts.com/lib/4/core.js"></script>
    <script src="https://cdn.amcharts.com/lib/4/charts.js"></script>
    <script src="https://cdn.amcharts.com/lib/4/themes/animated.js"></script>
    <script type="text/javascript" src="https://www.amcharts.com/lib/3/amcharts.js"></script>
    <script type="text/javascript" src="https://www.amcharts.com/lib/3/xy.js"></script>
    <script type="text/javascript" src="https://www.amcharts.com/lib/3/themes/light.js"></script>
    <!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
   
    <div id="chartdiv"></div>
        <select id='selection' onchange="selection(this)">
            <option id='push' value="push">밀기</option>
            <option value="pull">당기기</option>
            <option value="legs">하체</option>
            <option value="core">코어</option>
        </select>

    <script>
        function selection(){
            const select = $('#selection').val();
        
        $.ajax({
            url:'/cat1',
            method:'POST',
            data:{
                'WORKOUT_CAT1': select
            },
            success: function(data){
                console.log(data.result)
            }

        });
    }
    </script>
     <script>
        var data = {{data|safe}};
        console.log(data);
        var record_list = [];
        var resArr=[];
        am4core.ready(function(){
        am4core.useTheme(am4themes_animated);
        var chart = am4core.create("chartdiv", am4charts.XYChart);
        const distinct = (value, index, self) => {
            return self.indexOf(value) === index;
        };

        for(i=0; i<Object.keys(data['WORKOUT_DATE']).length; i++){
            resArr.push(data.WORKOUT_DATE[i])
        }


        const distinctDate = resArr.filter(distinct);
        
        
        for(i=0; i < distinctDate.length; i++) {
            var new_record = {};
            for(j=0; j < Object.keys(data['VOLUMNE']).length; j++){
                new_record['DATE']= distinctDate[i];
                new_record[data['WORKOUT_CAT3'][j]] = data['VOLUME'][j]
            };
            record_list.push(new_record);
            
        }
        chart.data = record_list;
        console.log(chart.data);
        // Create axes
        var categoryAxis = chart.xAxes.push(new am4charts.CategoryAxis());
        categoryAxis.dataFields.category = "DATE";
        categoryAxis.renderer.grid.template.location = 0;

        var valueAxis = chart.yAxes.push(new am4charts.ValueAxis());
        valueAxis.renderer.inside = true;
        valueAxis.renderer.labels.template.disabled = true;
        valueAxis.min = 0;

        // Create series
        createSeries = (field, name) => {
        
            // Set up series
            var series = chart.series.push(new am4charts.ColumnSeries());
            series.name = name;
            series.dataFields.valueY = field;
            series.dataFields.categoryX = "DATE";
            series.sequencedInterpolation = true;
            
            // Make it stacked
            series.stacked = true;
            
            // Configure columns
            series.columns.template.width = am4core.percent(60);
            series.columns.template.tooltipText = "[bold]{name}[/]\n[font-size:14px]{categoryX}: {valueY}";
            
            // Add label
            var labelBullet = series.bullets.push(new am4charts.LabelBullet());
            labelBullet.label.text = "{valueY}";
            labelBullet.locationY = 0.5;
            labelBullet.label.hideOversized = true;
            
            return series;
        }
        createSeries("내로우 랫풀다운", "Narrow LatPull");
        createSeries("바벨로우", "Barbell Row");
        createSeries("풀업", "Pull ups");
        createSeries("바이셉 컬", "Bicep Curls");

        // Legend
        chart.legend = new am4charts.Legend();
        });
                
                
    </script>

    <div id='piechart'></div>


</body>
</html>