<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.amcharts.com/lib/4/core.js"></script>
    <script src="https://cdn.amcharts.com/lib/4/charts.js"></script>
    <script src="https://cdn.amcharts.com/lib/4/themes/material.js"></script>
    <script src="https://cdn.amcharts.com/lib/4/lang/de_DE.js"></script>
    <script src="https://cdn.amcharts.com/lib/4/geodata/germanyLow.js"></script>
    <script src="https://cdn.amcharts.com/lib/4/fonts/notosans-sc.js"></script>
    <script src="https://cdn.amcharts.com/lib/4/core.js"></script>
    <script src="https://cdn.amcharts.com/lib/4/charts.js"></script>
    <script src="https://cdn.amcharts.com/lib/4/themes/animated.js"></script>
    <script type="text/javascript" src="https://www.amcharts.com/lib/3/amcharts.js"></script>
    <script type="text/javascript" src="https://www.amcharts.com/lib/3/xy.js"></script>
    <script type="text/javascript" src="https://www.amcharts.com/lib/3/themes/light.js"></script>
    <!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
   
    
    <div id="chartdiv"><h2>onclick 방식</h2></div>
    <select id='selection2'>
        <option value="push" >밀기</option>
        <option value="pull">당기기</option>
        <option value="legs">하체</option>
        <option value="core">코어</option>
    </select>
        
        <button id="clkBtn">클릭</button>
    <script>
        $(document).ready(function(){
            $('#clkBtn').click(function(e){
                e.preventDefault();
                const select2 = $('#selection2').val();
                $.ajax({
                    type:'GET',
                    url: "{{url_for('dashboard_data')}}",
                    data: {'workout_cat': select2},
                    success: function(data){
                        var data = data;
                        console.log(data);
                    }
                });
                
            })
        });

        function clickCat() {
            const select2 = $('#selection2').val();

            $.ajax({
                type:'GET',
                url: "{{url_for('dashboard_data')}}",
                data: {'workout_cat': select2},
                success: function(data){
                    
                }
            });
        };
        var data = {{data|safe}};
        var record_list = [];

        // drawing charts -----------------------------------------------------------------------
        // whole charts
        var resArr=[];
        am4core.ready(function(){
        am4core.useTheme(am4themes_animated);
        var chart = am4core.create("chartdiv", am4charts.XYChart);
        const distinct = (value, index, self) => {
            return self.indexOf(value) === index;
        };

        for(i=0; i<Object.keys(data['dates']).length; i++){
            resArr.push(data.dates[i])
        }


        const distinctDate = resArr.filter(distinct);
        
        
        for(i=0; i < distinctDate.length; i++) {
            var new_record = {};
            for(j=0; j < Object.keys(data['volume']).length; j++){
                new_record['dates']= distinctDate[i];
                new_record[data['workout_cat1'][j]] = data['volume'][j]
            };
            record_list.push(new_record);
            
        }
        
        chart.data = record_list;
        console.log(chart.data);
        // Create axes
        var categoryAxis = chart.xAxes.push(new am4charts.CategoryAxis());
        categoryAxis.dataFields.category = "dates";
        categoryAxis.renderer.grid.template.location = 0;

        var valueAxis = chart.yAxes.push(new am4charts.ValueAxis());
        valueAxis.renderer.inside = true;
        valueAxis.renderer.labels.template.disabled = true;
        valueAxis.min = 0;

        // Create series
        createSeries = (field, name) => {
        
            // Set up series
            var series = chart.series.push(new am4charts.ColumnSeries());
            series.name = name;
            series.dataFields.valueY = field;
            series.dataFields.categoryX = "dates";
            series.sequencedInterpolation = true;
            
            // Make it stacked
            series.stacked = true;
            
            // Configure columns
            series.columns.template.width = am4core.percent(60);
            series.columns.template.tooltipText = "[bold]{name}[/]\n[font-size:14px]{categoryX}: {valueY}";
            
            // Add label
            var labelBullet = series.bullets.push(new am4charts.LabelBullet());
            labelBullet.label.text = "{valueY}";
            labelBullet.locationY = 0.5;
            labelBullet.label.hideOversized = true;
            
            return series;
        }
        createSeries("pull", "당기기");
        createSeries("arms", "팔");
        createSeries("push", "밀기");
        createSeries("legs", "하체");
        createSeries("core", "코어");

        // Legend
        chart.legend = new am4charts.Legend();
        });
                
                
    </script>

    <div id='piechart'></div>


</body>
</html>